/* global */

* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: Public Sans;
    height: 100vh;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/*    header    */


header {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 1em 0 1em 5em;
}

.top-header a {
    color: gray;
}


.top-header {
    display: flex;
    flex-basis: 33%;
    align-self: center;
    justify-content: space-evenly;
    font-weight: 600;
}


header button {
    margin-right: 5%;
}

/*      invite-button       */

#invite-id p {
    margin-right: 2em;
    font-size: small;
}

.invite {
    color: #fff;
    font-weight: 900;
    font-size: medium;
    height: 3em;
    width: 9em;
    border-radius: 5em;
    border-color: transparent;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.invite:hover{
    cursor: pointer;
}


/*      humburg button         */

#humburg {
    display: none;
}

#humburg-box {
    display: none;
}

#icon {
    padding-top: 0.5em;
    width: 12%;
    height: 50%;

}



/*        footer          */


footer {
    flex-grow: 3;
    display: flex;
    justify-content: space-between;
    background-color: hsl(233, 26%, 24%);
    padding: 2em 0 2em 5em;
}

#images-icon {
    display: flex;
    justify-content: space-between;
}


#left-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#middle-footer {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    align-self: center;
}

#right-footer {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.bottom-div {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.bottom-div a {
    color: #ffffff;
}


/*           main container            */



.container {
    flex-grow: 18;
    justify-content: space-between;
}

.description-image {
    width: 90%;
    height: 50%;
    border-radius: 1em 1em 0 0;
}

/*         top-section-container        */


.top-section {
    background-color: rgba(248, 244, 244, 0.959);
    display: flex;
    padding-left: 5em;
}

#top-section-1 {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#part-1 {
    flex-grow: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;
}

#part-1 p {
    font-size: 3.5em;
    font-weight: 700;
    color: rgba(32, 6, 6, 0.774);
}

#part-1 article,
#part-2 article {
    font-size: medium;
    font-weight: 900;
    color: gray;
}

#part-2 p {
    font-size: 2.2em;
    font-weight: 700;
    color: rgba(32, 6, 6, 0.774);
}

#part-2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

#image-mockups {
    width: 100%;
    height: 100%;
    object-position: 5em -6em;
}

#top-section-2 {
    background: url(./images/bg-intro-desktop.svg) no-repeat;
    background-position: left;
    flex-grow: 0;
    background-position-y: -12em;
    background-position-x: -4em;
    overflow:hidden;
}

/*         bottom-section-container        */


.bottom-section {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    margin: 2em 0;
    margin-right: 5%;
    padding-left: 5em;
}

.bottom-section h1 {
    font-size: 2.2em;
    font-weight: 700;
    color: rgba(32, 6, 6, 0.774);
}


/*         middle-section-container        */


.middle-section {
    display: flex;
    justify-content: space-between;
    padding: 2em 0 5em 5em;
    background-color: rgba(214, 215, 216, 0.911);
}

.middle-section-div {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    background-color: rgba(214, 215, 216, 0.911);
}

.middle-section-div p {
    font-size: 1.5em;
    font-weight: 700;
    color: rgba(32, 6, 6, 0.774);
}

.middle-section-div article {
    font-size: 1em;
    font-weight: 700;
    color: gray;
    padding-right: 2em;
}


.middle-section-img {
    height: 4em;
    width: 4em;
}


#article-section {
    display: flex;
    flex-grow: 1;
}


.section-part {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    border-radius: 1em;
    border: 2px color(from hsl(0, 0%, 100%) srgb 254 249 222) solid;
}

.section-part h6,
.section-part p,
.section-part article {
    padding: 0 1em;
    font-weight: 600;
}


.section-part p {
    color: gray;
    font-size: small;
}

.section-part img {
    align-self: center;
}

/*         attribute section        */

.attribution,
#right-footer p {
    color: #fff;
}



.attribution a {
    color: grey
}



.section-part:is(:focus, :hover) {
    transform: scale(1.01);
    cursor: pointer;
}

/*         bottom-logo-easy-bank        */

#logo {
    filter: invert(75%);
}


/*          media-query for mobile view           */

@media (max-width:480px) {
    .container {
        margin: 0;
    }

    /*      header    */

    header {
        justify-content: space-around;
        padding: 1em 0;
    }

    .top-header {
        display: none;
    }


    /*       humburg button       */

    #humburg {
        display: block;
        background: none;
        border: transparent;
    }

    #humburg-box {
        width: 80%;
        background-color: #fff;
        border-radius: 8px;
        z-index: 1;
        position: absolute;
        transform: translate(15%, 10%);
    }

    #humurg-box a {
        text-decoration: none;
        color: gray;
    }

    #humburg-box ul {
        padding: 1em 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        row-gap: 2em;
    }

    /*         top-icon-easy-bank       */

    #icon {
        height: 50%;
        width: 40%;
    }

    
    header button {
        display: none;
    }



    .top-section {
        flex-direction: column;
        padding: 0;
    }

    #top-section-2 {
        background-position-x: -2em;
        background-position-y: -2em;
        background-size: cover;
        order: -1;
        height: 20em;
    }


    /*       mockups-image      */


    #image-mockups{
        object-position: 0;
        transform: translateY(-30%);
        height:30em;
    }

    #part-1 {
        text-align: center;
        margin: 2em 0;
    }

    #part-1 p {
        font-size: 2.1em;
    }

    /*      invite-button         */


    .invite {
        align-self: center;
    }

    #part-2 {
        text-align: center;
        margin: 2em 0;
    }

    #part-2 p {
        font-size: 1.8em;
    }

    /*       middle-section-container     */


    .middle-section {
        flex-direction: column;
        text-align: center;
        row-gap: 2em;
        padding: 2em 0;
    }

    .middle-section-img,
    .middle-section-div p,
    .middle-section-div article {
        align-self: center;
    }

    .middle-section article {
        padding: 0;
    }

    .middle-section-div {
        row-gap: 1em;
        padding: 0 2em;
    }

    /*         bottom-section-container       */

    .bottom-section {
        text-align: center;
        padding: 0;
    }

    #article-section {
        flex-direction: column;
        /* text-align: center; */
        row-gap: 2em;
    }


    /*      footer      */


    footer {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 1em;
        padding: 2em 0;
    }

    #left-footer {
        row-gap: 1em;
    }

    #middle-footer {
        flex-direction: column;
        text-align: center;
        row-gap: 1em;
    }

    .bottom-div {
        display: flex;
        flex-direction: column;
    }

    /*      attribute       */

    .attribution {
        text-align: center;
    }
}